body {
    background-color: #F1F3F6;
    padding-top:70px;
}

.navbar-fixed-top {
    position: fixed;left: 0;right: 0; top:0;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
   max-width:1000px;
}

h1 {
    color: rgb(106, 108, 111);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 33px;
    margin: 30px 0 15px 0;
    text-align: center;
}

.ui-draggable {
    cursor: move;
}

.ui-state-hover {
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.7);
}

.pin-busy {
    cursor: context-menu !important;
}

#features {
    margin-bottom: 0px;
}

.dragobj {
    cursor: move;
    z-index: 666;
    opacity: 0.8;
    width:25px;
    height:21px;
    background-color: #ff6000;
    border: 1px solid gray;
}

.pin {
    width: 27px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #E57300;
    position: absolute;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 13px;
    text-overflow: clip;
    text-align: center;
    background-color: orange;
    overflow: hidden;
}
.pin-busy {
    background-color: #ff6000;
}

.navbar-brand {
    font-size: 22px;
}

.navbar li:hover {
    background-color: rgba(0,0,0,.1);
    transition: background-color 200ms linear;
}

.navbar li a {
    margin-top: -5px;
}

.navbar .glyphicon {
    font-size: 23px;
    position: relative;
    top: 5px;
}



